In [1]:
import numpy as np
import pandas as pd

In [20]:
data = pd.read_csv("dating-full.csv")
print("\n".join(data.columns))
data.head()

gender
age
age_o
race
race_o
samerace
importance_same_race
importance_same_religion
field
pref_o_attractive
pref_o_sincere
pref_o_intelligence
pref_o_funny
pref_o_ambitious
pref_o_shared_interests
attractive_important
sincere_important
intelligence_important
funny_important
ambition_important
shared_interests_important
attractive
sincere
intelligence
funny
ambition
attractive_partner
sincere_partner
intelligence_parter
funny_partner
ambition_partner
shared_interests_partner
sports
tvsports
exercise
dining
museums
art
hiking
gaming
clubbing
reading
tv
theater
movies
concerts
music
shopping
yoga
interests_correlate
expected_happy_with_sd_people
like
decision

,gender,age,age_o,race,race_o,samerace,importance_same_race,importance_same_religion,field,pref_o_attractive,...,theater,movies,concerts,music,shopping,yoga,interests_correlate,expected_happy_with_sd_people,like,decision
0,female,21,27,'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,2,4,Law,35.0,...,1,10,10,9,8,1,0.14,3,7.0,1
1,female,21,22,'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,2,4,Law,60.0,...,1,10,10,9,8,1,0.54,3,7.0,1
2,female,21,23,'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,2,4,Law,30.0,...,1,10,10,9,8,1,0.61,3,7.0,1
3,female,21,24,'Asian/Pacific Islander/Asian-American','Latino/Hispanic American',0,2,4,Law,30.0,...,1,10,10,9,8,1,0.21,3,6.0,1
4,female,21,25,'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,2,4,Law,50.0,...,1,10,10,9,8,1,0.25,3,6.0,0

In [21]:
quoted_columns = ['race', 'race_o', 'field']
count_of_changed_cells = 0
for col in quoted_columns:    
    count_of_changed_cells += len(data[data[col].str.startswith("'")])
    data[col] = [c[1:-1] if c.startswith("'") else c for c in data[col]]
print(f"Quotes removed from {count_of_changed_cells} cells.")

Quotes removed from 8316 cells.

In [35]:
count_of_changed_cells = len(data[~data['field'].str.islower()])
data['field'] = [c.lower() if ~c.islower() else c for c in data['field']]
print(f"Standardized {count_of_changed_cells} cells to lower case.")

Standardized 5707 cells to lower case.

In [36]:
label_columns = ['gender', 'race', 'race_o', 'field']
le_encoders = {}
for col in label_columns:
    keys = data[col].sort_values().unique()
    values = np.arange(len(keys))
    le_encoders[col] = dict(zip(keys, values))

In [37]:
print(f"Value assigned for male in column gender: {le_encoders['gender']['male']}.")
print(f"Value assigned for European/Caucasian-American in column race: {le_encoders['race']['European/Caucasian-American']}.")
print(f"Value assigned for Latino/Hispanic American in column race o: {le_encoders['race_o']['Latino/Hispanic American']}.")
print(f"Value assigned for law in column field: {le_encoders['field']['law']}.")

Value assigned for male in column gender: 1.
Value assigned for European/Caucasian-American in column race: 2.
Value assigned for Latino/Hispanic American in column race o: 3.
Value assigned for law in column field: 121.

In [24]:
data['total'] = data['attractive_important'] + data['sincere_important'] + data['intelligence_important'] + data['funny_important'] + data['ambition_important'] +data['shared_interests_important']
preference_scores_participant = ['attractive_important','sincere_important', 'intelligence_important', 'funny_important','ambition_important', 'shared_interests_important']
for col in preference_scores_participant:
    data[col] = data[col] / data['total']
    print(f"Mean of {col}: {data[col].mean():.2f}.")

Mean of attractive_important: 0.22.
Mean of sincere_important: 0.17.
Mean of intelligence_important: 0.20.
Mean of funny_important: 0.17.
Mean of ambition_important: 0.11.
Mean of shared_interests_important: 0.12.

In [25]:
data['total_o'] = data['pref_o_attractive'] + data['pref_o_sincere'] + data['pref_o_intelligence'] + data['pref_o_funny'] + data['pref_o_ambitious'] +data['pref_o_shared_interests']
preference_scores_partner = ['pref_o_attractive', 'pref_o_sincere', 'pref_o_intelligence', 'pref_o_funny', 'pref_o_ambitious', 'pref_o_shared_interests']
for col in preference_scores_partner:
    data[col] = data[col] / data['total_o']
    print(f"Mean of {col}: {data[col].mean():.2f}.")

Mean of pref_o_attractive: 0.22.
Mean of pref_o_sincere: 0.17.
Mean of pref_o_intelligence: 0.20.
Mean of pref_o_funny: 0.17.
Mean of pref_o_ambitious: 0.11.
Mean of pref_o_shared_interests: 0.12.